.dark-medium-contrast {
  --md-sys-color-primary: rgb(191 200 255);
  --md-sys-color-surface-tint: rgb(185 195 255);
  --md-sys-color-on-primary: rgb(0 13 76);
  --md-sys-color-primary-container: rgb(112 135 255);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(191 200 255);
  --md-sys-color-on-secondary: rgb(0 13 76);
  --md-sys-color-secondary-container: rgb(124 139 221);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(245 180 255);
  --md-sys-color-on-tertiary: rgb(44 0 56);
  --md-sys-color-tertiary-container: rgb(213 92 242);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 72);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 19 28);
  --md-sys-color-on-background: rgb(226 225 239);
  --md-sys-color-surface: rgb(17 19 28);
  --md-sys-color-on-surface: rgb(253 250 255);
  --md-sys-color-surface-variant: rgb(68 70 86);
  --md-sys-color-on-surface-variant: rgb(200 201 221);
  --md-sys-color-outline: rgb(160 162 181);
  --md-sys-color-outline-variant: rgb(128 130 148);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 225 239);
  --md-sys-color-inverse-on-surface: rgb(40 41 51);
  --md-sys-color-inverse-primary: rgb(0 51 199);
  --md-sys-color-primary-fixed: rgb(222 225 255);
  --md-sys-color-on-primary-fixed: rgb(0 9 63);
  --md-sys-color-primary-fixed-dim: rgb(185 195 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 37 155);
  --md-sys-color-secondary-fixed: rgb(222 225 255);
  --md-sys-color-on-secondary-fixed: rgb(0 9 63);
  --md-sys-color-secondary-fixed-dim: rgb(185 195 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(30 46 123);
  --md-sys-color-tertiary-fixed: rgb(253 214 255);
  --md-sys-color-on-tertiary-fixed: rgb(36 0 46);
  --md-sys-color-tertiary-fixed-dim: rgb(244 174 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(95 0 117);
  --md-sys-color-surface-dim: rgb(17 19 28);
  --md-sys-color-surface-bright: rgb(55 56 67);
  --md-sys-color-surface-container-lowest: rgb(12 14 23);
  --md-sys-color-surface-container-low: rgb(26 27 37);
  --md-sys-color-surface-container: rgb(30 31 41);
  --md-sys-color-surface-container-high: rgb(40 41 51);
  --md-sys-color-surface-container-highest: rgb(51 52 63);
  --md-extended-color-custom-color1-color: rgb(255 238 209);
  --md-extended-color-custom-color1-on-color: rgb(63 46 0);
  --md-extended-color-custom-color1-color-container: rgb(249 188 0);
  --md-extended-color-custom-color1-on-color-container: rgb(23 15 0);
  --md-extended-color-custom-color2-color: rgb(96 226 166);
  --md-extended-color-custom-color2-on-color: rgb(0 27 15);
  --md-extended-color-custom-color2-color-container: rgb(1 165 111);
  --md-extended-color-custom-color2-on-color-container: rgb(0 0 0);
}
