.dark-high-contrast {
  --md-sys-color-primary: rgb(253 250 255);
  --md-sys-color-surface-tint: rgb(185 195 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(191 200 255);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(253 250 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(191 200 255);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 249 250);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(245 180 255);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 19 28);
  --md-sys-color-on-background: rgb(226 225 239);
  --md-sys-color-surface: rgb(17 19 28);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 70 86);
  --md-sys-color-on-surface-variant: rgb(253 250 255);
  --md-sys-color-outline: rgb(200 201 221);
  --md-sys-color-outline-variant: rgb(200 201 221);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 225 239);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 28 124);
  --md-sys-color-primary-fixed: rgb(227 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(191 200 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 13 76);
  --md-sys-color-secondary-fixed: rgb(227 229 255);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(191 200 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 13 76);
  --md-sys-color-tertiary-fixed: rgb(254 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(245 180 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(44 0 56);
  --md-sys-color-surface-dim: rgb(17 19 28);
  --md-sys-color-surface-bright: rgb(55 56 67);
  --md-sys-color-surface-container-lowest: rgb(12 14 23);
  --md-sys-color-surface-container-low: rgb(26 27 37);
  --md-sys-color-surface-container: rgb(30 31 41);
  --md-sys-color-surface-container-high: rgb(40 41 51);
  --md-sys-color-surface-container-highest: rgb(51 52 63);
  --md-extended-color-custom-color1-color: rgb(255 250 247);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(255 193 7);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color2-color: rgb(238 255 242);
  --md-extended-color-custom-color2-on-color: rgb(0 0 0);
  --md-extended-color-custom-color2-color-container: rgb(96 226 166);
  --md-extended-color-custom-color2-on-color-container: rgb(0 0 0);
}
