.light {
  --md-sys-color-primary: rgb(0 57 220);
  --md-sys-color-surface-tint: rgb(22 71 245);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(68 101 255);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(73 89 166);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(167 180 255);
  --md-sys-color-on-secondary-container: rgb(16 35 113);
  --md-sys-color-tertiary: rgb(136 0 167);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(180 60 211);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(165 0 12);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(224 40 37);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(251 248 255);
  --md-sys-color-on-background: rgb(26 27 37);
  --md-sys-color-surface: rgb(251 248 255);
  --md-sys-color-on-surface: rgb(26 27 37);
  --md-sys-color-surface-variant: rgb(224 225 246);
  --md-sys-color-on-surface-variant: rgb(68 70 86);
  --md-sys-color-outline: rgb(116 118 136);
  --md-sys-color-outline-variant: rgb(196 197 217);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 48 58);
  --md-sys-color-inverse-on-surface: rgb(240 239 253);
  --md-sys-color-inverse-primary: rgb(185 195 255);
  --md-sys-color-primary-fixed: rgb(222 225 255);
  --md-sys-color-on-primary-fixed: rgb(0 17 89);
  --md-sys-color-primary-fixed-dim: rgb(185 195 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 50 196);
  --md-sys-color-secondary-fixed: rgb(222 225 255);
  --md-sys-color-on-secondary-fixed: rgb(0 17 89);
  --md-sys-color-secondary-fixed-dim: rgb(185 195 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(48 64 141);
  --md-sys-color-tertiary-fixed: rgb(253 214 255);
  --md-sys-color-on-tertiary-fixed: rgb(52 0 66);
  --md-sys-color-tertiary-fixed-dim: rgb(244 174 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(121 0 149);
  --md-sys-color-surface-dim: rgb(217 217 230);
  --md-sys-color-surface-bright: rgb(251 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 242 255);
  --md-sys-color-surface-container: rgb(237 236 250);
  --md-sys-color-surface-container-high: rgb(232 231 245);
  --md-sys-color-surface-container-highest: rgb(226 225 239);
  --md-extended-color-custom-color1-color: rgb(120 89 0);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(255 202 77);
  --md-extended-color-custom-color1-on-color-container: rgb(80 58 0);
  --md-extended-color-custom-color2-color: rgb(0 108 71);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(38 179 124);
  --md-extended-color-custom-color2-on-color-container: rgb(0 21 10);
}
