:root,
body.light {
  --primary: #0046BB;
  --on-primary: #ffffff;
  --primary-container: #356CED;
  --on-primary-container: #ffffff;
  /*
  --secondary: #4959A6;
  --on-secondary: #ffffff;
  --secondary-container: #A7B4FF;
  --on-secondary-container: #102371;
  */
  --secondary: #4B5C91;
  --on-secondary: #ffffff;
  --secondary-container: #BBCAFF;
  --on-secondary-container: #253769;
  --tertiary: #785900;
  --on-tertiary: #ffffff;
  --tertiary-container: #FFCA4D;
  --on-tertiary-container: #503A00;
  --error: #A5000C;
  --on-error: #ffffff;
  --error-container: #E02825;
  --on-error-container: #FFFFFF;
  /*
  --background: #FAF8FF;
  */
  --background: #F3F2FF;
  --on-background: #191B23;
  --surface: #FAF8FF;
  --on-surface: #191B23;
  --surface-variant: #DFE1F3;
  --on-surface-variant: #434654;
  --outline: #737686;
  --outline-variant: #C3C6D7;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #2E3038;
  --inverse-on-surface: #F0F0FB;
  --inverse-primary: #B4C5FF;
  --surface-dim: #D9D9E4;
  --surface-bright: #FAF8FF;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #F3F3FE;
  --surface-container: #EDEDF8;
  --surface-container-high: #E7E7F2;
  --surface-container-highest: #E1E2ED
}

.logo{
  height: 2.5rem;
}

.bg-white{
  background-color: #ffffff;
}

.elevate1{
  box-shadow: var(--elevate1);
}

.green-color{
  color: #00A56F;
}

i.size--25{
  ---size: 2.5rem;
}